<div
  class="sidenav"
  fxLayout="column"
  fxLayoutAlign="space-between start"
  fxFill
>
  <a
    routerLink=""
    class="nav-logo"
  >
    <mat-icon>savings</mat-icon>
    Verpara
  </a>

  <nav
    fxLayout="column"
    fxLayoutAlign="start center"
    fxFlex
    fxFill
  >
    <ul
      fxLayout="column"
      fxFlexFill
    >
      <li class="nav-link">
        <a [routerLink]="''">
          <mat-icon>home</mat-icon>
          Home
        </a>
      </li>
      <li class="nav-link">
        <a [routerLink]="'send-money'">
          <mat-icon>send</mat-icon>
          Send Money
        </a>
      </li>

      <li class="nav-link">
        <a [routerLink]="'account-settings'">
          <mat-icon>settings</mat-icon>
          Account Settings
        </a>
      </li>
    </ul>
  </nav>

  <div
    fxLayout="row"
    fxLayoutAlign="end center"
    class="w-100"
  >
    <button
      mat-flat-button
      color="accent"
      class="mb-2 mr-2"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
  <div
    class="w-75 mb-1"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap=".3rem"
  >
    <span>Made by</span>
    <a
      href="https://github.com/aziznal"
      target="_blank"
    >@aziznal</a>
  </div>
</div>