@import "src/styles/_variables.scss";

.sidenav {
  color: $primary;
  
  // border-left: 2rem solid $primary;

  overflow-x: hidden;

  ul {
    margin: 0;
    padding: 0;

    margin-top: 3rem;

    .nav-link {
      display: flex;
      place-content: left;
      place-items: center;
      
      width: 100%;
      
      transition: 75ms color, 75ms background-color;

      &:hover {
        color: black;
        background-color: rgb(223, 223, 223);
      }
      
      &.active-link {
        color: blue;
        background-color: rgb(223, 223, 223);
      }

      a {
        display: flex;
        flex-direction: row;

        place-content: left;
        place-items: center;

        width: 100%;

        padding: 1rem;

        gap: 0.45rem;

        font-weight: bold;

      }
    }
  }
}

.nav-logo {
  display: flex;
  flex-direction: row;

  place-content: center;
  place-items: center;

  gap: 1.125rem;

  width: 100%;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  margin-top: 1rem;

  font-size: 2rem;

  cursor: pointer;

  transition: 150ms transform;

  &:hover {
    transform: scale(1.03);
  }

  mat-icon {
    font-size: 2rem;
  }
}
