<div
  class="fill-page-height"
  fxLayout="column"
  fxLayoutAlign="start center"
>
  <!-- Info Blocks -->
  <div
    class="w-100 p-1"
    fxLayout="row wrap"
    fxLayoutAlign="center start"
    fxLayoutGap="1rem"
    fxFlexOffset="4rem"
  >
    <!-- Assets and Accounts -->
    <div
      fxLayout="column"
      fxLayoutGap="1rem"
      fxFlex="60"
    >

      <section
        class="info-block horizontal-info-block"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <span
          class="info-block-title w-100"
          fxLayout="row"
          fxLayoutAlign="start start"
        >Your Accounts</span>

        <div
          class="w-100 h-100"
          fxLayout="row"
          fxLayoutAlign="center center"
        >

          <mat-icon
            class="account-list-arrow"
            (click)="scrollAccountsListToLeft()"
          >
            chevron_left
          </mat-icon>

          <div
            class="banking-accounts-list w-100 h-100"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="1rem"
            #accountsList
          >
            <mat-card
              class="banking-accounts-item"
              fxLayout="column"
              *ngFor="let account of user.accounts"
              (click)="navigateToAccountPage(account)"
            >
              <mat-card-title>
                Account No. {{ account.accountNo }}
              </mat-card-title>

              <mat-card-content
                fxLayout="column"
                fxFlexOffset="1rem"
              >
                <h3>Balance</h3>
                <p>{{ account.balance | currency: '₺ '}}</p>
              </mat-card-content>
            </mat-card>

          </div>

          <mat-icon
            class="account-list-arrow"
            (click)="scrollAccountsListToRight()"
          > chevron_right
          </mat-icon>
        </div>
      </section>

      <section
        class="info-block horizontal-info-block"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <span
          class="info-block-title w-100"
          fxLayout="row"
          fxLayoutAlign="start start"
        >Your Assets</span>

        <div
          class="w-100 h-100 assets-info-block"
          fxLayout="row"
          fxLayoutAlign="start start"
        >
          <div
            class="assets-barchart"
            fxFlexOffset="1.125rem"
            fxFlex
          >
            <app-barchart
              [data]="flatTransactionList"
              x="date"
              y="amount"
              [width]=900
              [height]=285
            ></app-barchart>
          </div>

          <div
            class="net-balance"
            fxLayout="column"
            fxLayoutAlign="start center"
          >
            <h2>Net Balance</h2>
            <h3 style="text-align: center;">
              {{ netBalance | currency: '₺ ' }}
            </h3>
          </div>
        </div>
      </section>

    </div>

    <!-- Recent Transactions -->
    <div
      class="info-block"
      fxLayout="column"
      fxFlex
    >
      <span
        class="info-block-title w-100"
        fxLayout="row"
        fxLayoutAlign="start start"
      >Recent Transactions</span>

      <mat-form-field
        class="order-by-form"
        appearance="fill"
        color="primary"
      >
        <mat-label>Order by</mat-label>
        <mat-select
          (selectionChange)='reOrderTransactions()'
          [(value)]='transactionOrderType'
        >
          <mat-option value='Date'>
            Date
          </mat-option>

          <mat-option value='Amount'>
            Amount
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ul
        class="transaction-list w-100 h-100"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <mat-card
          class="transaction-item"
          fxLayout="column"
          fxLayoutAlign="start start"
          fxLayoutGap=".3rem"
          *ngFor="let appendedTransaction of appendedTransactions"
          (click)="navigateToTransactionPage(appendedTransaction)"
        >
          <div
            class="w-100 transaction-item-title"
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <span>
              <strong>Transaction No.</strong> {{ appendedTransaction.transaction.transactionNo }}
            </span>

            <span
              matTooltip="When this transaction took place"
              matTooltipShowDelay="450"
            >
              {{ appendedTransaction.transaction.date | date }}
            </span>
          </div>

          <div
            class="transaction-item-account-no mb-1"
            fxLayout="row"
            matTooltip="Which of your accounts is related to this transaction"
            matTooltipShowDelay="450"
          >
            <strong>Account No.</strong> {{ appendedTransaction.account.accountNo }}
          </div>

          <div fxLayout="row">
            {{ appendedTransaction.transaction.action }} {{ appendedTransaction.transaction.amount | currency: '₺' }} {{
            appendedTransaction.transaction.action === 'SENT' ? 'to ' +
            appendedTransaction.transaction.to : 'from ' + appendedTransaction.transaction.from }}
          </div>

        </mat-card>
      </ul>
    </div>
  </div>
</div>