@import "src/styles/_variables.scss";

$infoBlockHeight: calc(48vh - #{$footer-height} - #{$navbar-height});

.info-block {
  // background-color: $off-white;
  background-color: rgb(255, 255, 255);

  height: calc(#{$infoBlockHeight} * 2 + 1rem);

  border: 1px solid rgb(184, 184, 184);
  border-radius: 8px;

  padding-bottom: 1rem;
}

.horizontal-info-block {
  height: $infoBlockHeight;
  width: 100%;
}

.info-block-title {
  padding: 1rem;

  font-size: 1.625rem;
  font-weight: bold;
}

.assets-info-block {
  position: relative;

  .net-balance {
    margin: 0;
    padding: 0;

    position: absolute;
    top: -3rem;
    right: 3rem;

    h2,
    h3 {
      margin: 0;
      padding: 0;
      margin-block-end: 0.5rem;
    }
  }
}

.banking-accounts-list {
  overflow-x: auto;
  padding-inline: 1rem;

  md-content {
    scrollbar-width: none;
  }

  // hide scrollbar for firefox
  scrollbar-width: none;

  // hide scrollbar for chrome
  &::-webkit-scrollbar {
    display: none;
  }

  .banking-accounts-item {
    min-width: 33%;
    height: 80%;

    border: 1px solid rgb(224, 224, 224);
    border-radius: 4px;

    background-color: rgb(248, 248, 248);

    padding: 0.625rem;
    transition: 175ms background-color ease;

    h3 {
      margin: 0;
    }

    p {
      margin: 0;

      // margin-top: 0.325rem;
      font-size: 1.425rem;
    }

    &:hover {
      color: $primary;
      background-color: rgb(238, 238, 238);
      cursor: pointer;
    }
  }
}

.account-list-arrow {
  width: fit-content;
  height: fit-content;

  font-size: 3rem;

  cursor: pointer;

  // To make icon un-selectable (i.e like text)
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.order-by-form {
  width: 50%;

  margin-left: 1rem;
}

.transaction-list {
  box-sizing: border-box;

  overflow-y: auto;

  // // hide scrollbar for firefox
  // scrollbar-width: none;

  // // hide scrollbar for chrome
  // &::-webkit-scrollbar {
  //   display: none;
  // }

  margin: 0;
  padding: 1rem;

  .transaction-item {
    background-color: rgb(245, 245, 245);

    box-sizing: border-box;

    margin: 0;
    margin-block: 0.325rem;
    padding: 0.725rem;

    min-height: 25%;
    max-height: 25%;
    width: 100%;

    border: 1px solid rgb(224, 224, 224);
    border-radius: 8px;

    transition: 150ms ease background-color, 75ms ease color;

    &:hover {
      color: $primary;
      background-color: rgb(238, 238, 238);
      cursor: pointer;
    }
  }

  .transaction-item-account-no {
    margin-block: 0.35rem;

    font-size: 1rem;
  }
}
