<div
  class="fill-page-height"
  fxLayout="column"
  fxLayoutAlign="start center"
>
  <!-- Info Blocks -->
  <div
    class="w-100 p-1"
    fxLayout="row wrap"
    fxLayoutAlign="center start"
    fxLayoutGap="1rem"
    fxFlexOffset="4rem"
  >
    <!-- Assets and Accounts -->
    <div
      fxLayout="column"
      fxLayoutGap="1rem"
      fxFlex="60"
    >
      <section
        class="info-block horizontal-info-block"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <span
          class="info-block-title w-100"
          fxLayout="row"
          fxLayoutAlign="start start"
        >Your Accounts</span>

        <div
          class="w-100 h-100"
          fxLayout="row"
          fxLayoutAlign="center center"
        >

          <mat-icon
            class="account-list-arrow"
            (click)="scrollAccountsListToLeft()"
          >
            chevron_left
          </mat-icon>

          <div
            class="banking-accounts-list w-100 h-100"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="1rem"
            #accountsList
          >
            <mat-card
              class="banking-accounts-item"
              fxLayout="column"
              *ngFor="let account of user.accounts"
              (click)="navigateToAccountPage(account)"
            >
              <mat-card-title>
                {{ account.label }}
              </mat-card-title>

              <mat-card-content
                fxLayout="column"
                fxFlexOffset="1rem"
              >
                <h3>Balance</h3>
                <p>{{ account.balance | currency: '₺ '}}</p>
              </mat-card-content>
            </mat-card>

            <mat-card
              class="banking-accounts-item"
              fxLayout="column"
              style="background-color: white;"
              (click)="createNewBankingAccount()"
            >
              <mat-card-content
                class="h-100"
                fxLayout="column"
                fxLayoutAlign="center center"
              >
                <h3>Create New Account</h3>
                <mat-icon
                  color="primary"
                  style="font-size: 3rem; width: fit-content; height: fit-content"
                >add</mat-icon>
              </mat-card-content>
            </mat-card>
          </div>

          <mat-icon
            class="account-list-arrow"
            (click)="scrollAccountsListToRight()"
          > chevron_right
          </mat-icon>
        </div>
      </section>

      <section
        class="info-block horizontal-info-block"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <span
          class="info-block-title w-100"
          fxLayout="row"
          fxLayoutAlign="start start"
        >Your Assets</span>

        <div
          class="w-100 h-100 assets-info-block"
          fxLayout="row"
          fxLayoutAlign="start start"
        >
          <div
            class="assets-barchart"
            fxLayout="row"
            fxLayoutAlign="start start"
            fxFlexOffset="1.125rem"
            fxFlex
            *ngIf="!loading else loadingSpinner"
          >
            <app-barchart
              [data]="simplifiedTransactions"
              x="date"
              y="amount"
              [width]='barchartWidth'
              [height]=285
            ></app-barchart>
          </div>

          <ng-template #loadingSpinner>
            <div
              fxFill
              fxLayout="row"
              fxLayoutAlign="center center"
            >
              <mat-spinner>
                Loading
              </mat-spinner>
            </div>
          </ng-template>

          <div
            class="net-balance h-87"
            fxLayout="column"
            fxLayoutAlign="space-evenly center"
          >
            <div>
              <h2>Balance</h2>
              <h3 style="text-align: center; color: green;">
                {{ netBalance | currency: '₺ ' }}
              </h3>
            </div>

            <div>
              <h2 class="mt-2">Debt</h2>
              <h3 style="text-align: center; color: red;">
                {{ user.debt | currency: '₺ ' }}
              </h3>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Recent Transactions -->
    <div
      class="info-block"
      fxLayout="column"
      fxFlex
    >
      <span
        class="info-block-title w-100"
        fxLayout="row"
        fxLayoutAlign="start start"
      >Recent Transactions</span>

      <mat-form-field
        class="order-by-form"
        appearance="fill"
        color="primary"
      >
        <mat-label>Order by</mat-label>
        <mat-select
          (selectionChange)='reOrderTransactions()'
          [(value)]='transactionOrderType'
        >
          <mat-option value='Date'>
            Date
          </mat-option>

          <mat-option value='Amount'>
            Amount
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ul
        class="transaction-list w-100 h-100"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <mat-card
          class="transaction-item"
          fxLayout="column"
          fxLayoutAlign="start start"
          fxLayoutGap=".3rem"
          *ngFor="let appendedTransaction of appendedTransactions"
          (click)="navigateToTransactionPage(appendedTransaction)"
        >
          <div
            class="w-100 transaction-item-title"
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <span>
              <strong>Transaction No.</strong> {{ appendedTransaction.transaction._id }}
            </span>

            <span
              matTooltip="When this transaction took place"
              matTooltipShowDelay="450"
            >
              {{ appendedTransaction.transaction.date | date }}
            </span>
          </div>

          <div
            class="transaction-item-account-no mb-1"
            fxLayout="row"
            matTooltip="Which of your accounts is related to this transaction"
            matTooltipShowDelay="450"
          >
            <strong>Account:</strong>&nbsp;{{ appendedTransaction.account.label }}
          </div>

          <div fxLayout="row">
            {{ appendedTransaction.transaction.action }}
            {{ appendedTransaction.transaction.amount }} ₺
            {{ appendedTransaction.transaction.action === 'SENT' ? 'to' : 'from' }}
            {{ appendedTransaction.transaction.otherPerson.fullname }}
          </div>

        </mat-card>
      </ul>
    </div>
  </div>
</div>