<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="1rem"
>
  <section
    class="piggy-logo"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <mat-icon color="primary">
      savings
    </mat-icon>

    <h3>Verpara Bank UnLtd.</h3>
    <i style="font-size: .35rem;">No Copyrights because we're not a real bank.</i>
  </section>

  <section
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlex="100"
      class="w-100 p-3"
      [formGroup]="loginForm"
    >
      <h2 class="mb-5">Sign-in to your account</h2>

      <mat-form-field
        appearance="outline"
        class="form-field"
      >
        <mat-label>Email</mat-label>

        <input
          matInput
          name="email"
          placeholder="Email"
          type="email"
          formControlName="email"
        >

        <mat-error>
          Must provide valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="form-field mt-1"
      >
        <mat-label>Password</mat-label>

        <input
          matInput
          id="password"
          name="password"
          [type]="hidePasswordField ? 'password' : 'text'"
          formControlName="password"
        >

        <mat-icon
          mat-icon-button
          matSuffix
          (click)="hidePasswordField = !hidePasswordField"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePasswordField"
        >
          {{hidePasswordField ? 'visibility_off' : 'visibility'}}
        </mat-icon>

        <mat-error>
          Must provide valid password
        </mat-error>
      </mat-form-field>

      <div
        fxLayout="row"
        fxLayoutAlign="end center"
        class="form-field"
      >
        <button
          mat-raised-button
          type="submit"
          (click)="login($event)"
          color="primary"
          #loginButton
        >
          Login
        </button>
      </div>
      <a
        routerLink="/sign-up"
        class="m-5"
      >Create New Account</a>
    </form>
  </section>

</div>