<mat-sidenav-container style="border: none;">

  <mat-sidenav
    [opened]="true"
    mode="side"
    style="width: 350px;"
    #sidenav
  >
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-navbar [sidenav]='sidenav'></app-navbar>
    <app-back-button></app-back-button>

    <div>
      <router-outlet></router-outlet>

      <ng-container *ngIf="loading">
        <app-loading-screen></app-loading-screen>
      </ng-container>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>