<div
  class="fill-page-height py-5"
  fxLayout="column"
  fxLayoutAlign="start center"
>
  <section
    fxLayout="row"
    fxLayoutGap="1rem"
    class="w-75"
  >
    <form
      class="settings-form w-100"
      fxLayout="column"
      fxLayoutAlign="start center"
      [formGroup]="personalDetailsForm"
    >
      <h3>Edit / Update your account information and settings</h3>

      <div
        fxLayout="column"
        fxLayoutAlign="start"
      >
        <mat-form-field appearance="outline">
          <mat-label>
            Name
          </mat-label>
          <input
            matInput
            formControlName="fullname"
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>
            email
          </mat-label>
          <input
            matInput
            formControlName="email"
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>
            Birthdate
          </mat-label>
          <input
            matInput
            formControlName="birthdate"
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>
            Phone Number
          </mat-label>
          <input
            matInput
            formControlName="phoneNumber"
          >
        </mat-form-field>

      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="end center"
      >
        <button
          type="button"
          mat-flat-button
          color="primary"
          (click)="updatePersonalDetails($event)"
        >
          <mat-icon>
            autorenew
          </mat-icon>
          Update Information
        </button>
      </div>
    </form>

    <form
      fxLayout="column"
      fxLayoutAlign="start start"
      [formGroup]="passwordChangeForm"
      class="settings-form w-100"
    >
      <h3>Change your password</h3>

      <mat-form-field>
        <mat-label>Your current password</mat-label>
        <input
          matInput
          type="password"
          autocomplete="none"
          formControlName="currentPassword"
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>New Password</mat-label>
        <input
          matInput
          type="password"
          autocomplete="none"
          formControlName="newPassword"
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter New Password Again</mat-label>
        <input
          matInput
          type="password"
          autocomplete="none"
          formControlName="newPasswordConfirmation"
        >
      </mat-form-field>

      <div
        fxLayout="row"
        fxLayoutAlign="end center"
      >
        <button
          mat-flat-button
          (click)="changePassword($event)"
          color="primary"
          disabled
        >
          <mat-icon>
            refresh
          </mat-icon>
          Change Password
        </button>
      </div>
    </form>
  </section>
</div>