<div
  class="fill-page-height"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <form
    [formGroup]="form"
    fxLayout="column"
    fxLayoutAlign="center start"
    class="p-5"
  >
    <h2>Create a new banking account</h2>

    <mat-form-field
      appearance="outline"
      class="w-100"
    >
      <mat-label>Account Label</mat-label>
      <input
        matInput
        formControlName="accountLabel"
      >
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="w-100"
    >
      <mat-label>Currency Type</mat-label>
      <mat-select [value]="'Turkish Lira'">
        <mat-option value="Turkish Lira">
          Turkish Lira ₺
        </mat-option>

        <mat-option value="Dollar">
          Dollar $
        </mat-option>

        <mat-option value="Euro">
          Euro €
        </mat-option>

        <mat-option value="Simoleons">
          Simoleons §
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div
      fxLayout="row"
      fxLayoutAlign="end center"
      class="w-100"
    >
      <button
        mat-flat-button
        color="primary"
        (click)="createNewAccount($event)"
      >
        Create Account <mat-icon>add</mat-icon>
      </button>
    </div>
  </form>
</div>