<div
  class="fill-page-height"
  fxLayout="row-reverse"
  fxLayoutAlign="center center"
  fxLayoutGap="1rem"
>
  <section
    class="account-page-section p-2 h-87"
    fxLayout="column"
    fxLayoutAlign="start stretch"
  >
    <h3>Transaction History</h3>

    <div
      fxLayout="column"
      fxLayoutGap="1rem"
      class="transaction-list"
    >
      <mat-card
        class="transaction-item"
        *ngFor="let transaction of currentAccount.transactions"
        (click)="navigateToTransactionPage(transaction._id)"
      >
        <mat-card-title>
          No. {{ transaction._id }}
        </mat-card-title>

        <mat-card-content
          fxLayout="column"
          fxLayoutGap="1rem"
        >
          <span>
            <strong>{{ transaction.action }} {{ transaction.amount }} ₺
              {{ transaction.action === 'SENT' ? 'to' : 'from'}}
              {{ transaction.otherPerson.fullname }} ({{transaction.otherPerson.email}})
            </strong>
          </span>
          <span><strong>Date:</strong> {{ transaction.date | date}}</span>
        </mat-card-content>
      </mat-card>
    </div>
  </section>

  <section
    class="account-page-section h-87"
    fxLayout="column"
    fxLayoutAlign="space-evenly center"
  >
    <div
      class="half-section p-5 w-100 h-100"
      fxLayout="column"
      fxLayoutAlign="start start"
    >
      <h3>Account Information</h3>

      <h4
        class="ml-1"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap=".5rem"
        fxFlexOffset="5rem"
      >
        <span>Account Number: {{ currentAccount._id }}</span>

        <mat-icon matTooltip="Use this number to transfer money between accounts">
          help_outline
        </mat-icon>
      </h4>

      <h2 class="ml-1">
        Balance: {{ currentAccount.balance | currency: '₺ ' }}
      </h2>
    </div>

    <mat-divider
      color="primary"
      class="w-100"
    ></mat-divider>

    <div
      class="half-section p-2 w-100 h-100"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <h3>Transaction History Column Chart</h3>

      <app-barchart
        style="margin-top: 4rem;"
        *ngIf="currentAccount.transactions!.length > 0 else noTransactionHistory"
        [data]="currentAccount.transactions || []"
        x="date"
        y="amount"
        [width]="barchartWidth"
        [height]="350"
      ></app-barchart>

      <ng-template #noTransactionHistory>
        No transaction history available.
      </ng-template>
    </div>
  </section>
</div>