.user-accounts-list {
  overflow-x: auto;

  padding: 2rem;
  margin: 1rem;

  border: 1px solid rgb(175, 175, 175);
  border-radius: 6px;

  background-color: white;

  .user-account {
    background-color: rgb(251, 251, 251);

    width: 100%;
    box-sizing: border-box;

    position: relative;

    font-size: 2rem;

    mat-card-actions {
      position: absolute;

      bottom: 1.325rem;
      right: 1.5rem;

      button {
        font-size: 1.125rem;
        padding-block: 0.425rem
      }
    }
  }
}
