<div fxLayout="column" fxLayoutAlign="center center">

  <h1>
    Debug Page
  </h1>

  <div fxLayout="column" fxLayoutAlign="center center" class="mb-6">
    <h2>
      GET Request Test
    </h2>

    <button mat-raised-button color="primary" (click)="sendGetRequest()">
      GET
    </button>

  </div>


  <div fxLayout="column" fxLayoutAlign="center center" class="mb-6">
    <h2>
      POST request test
    </h2>

    <button mat-raised-button color="accent" (click)="sendPostRequest()">
      POST
    </button>

  </div>

  <div fxLayout="column" fxLayoutAlign="center center" class="mb-6">
    <h2>
      New Account Request
    </h2>

    <button mat-raised-button color="accent" (click)="sendNewAccountRequest()">
      POST
    </button>

  </div>


</div>