@import "src/styles/_variables.scss";

.footer {
  color: white;

  background-color: $primary;

  width: 100%;
  height: $footer-height;

  a {
    &:hover {
      color: $accent;
    }
  }
}
