<div
  class="fill-page-height"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <form
    class="send-money-form w-50"
    fxLayout="column"
    fxLayoutAlign="start start"
    [formGroup]="sendMoneyForm"
  >
    <h3>Send money to someone using their email address or account id</h3>

    <div
      fxLayout="column"
      fxLayoutAlign="start"
    >
      <mat-form-field
        class="w-100"
        appearance="outline"
      >
        <mat-label>Choose which account to send from</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let account of user.accounts"
            [value]="account"
          >
            {{ account.id }} - balance: {{ account.balance }} ₺
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="w-100"
        appearance="outline"
      >
        <mat-label>Send To</mat-label>
        <input
          type="text"
          matInput
          autocomplete="none"
          formControlName="sendTo"
        >
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="always"
        fxLayout="row"
      >
        <mat-label>Amount</mat-label>
        <input
          type="number"
          matInput
          min="1"
          autocomplete="none"
          formControlName="amount"
          style="text-align: right;"
        >
        <span matPrefix>₺</span>
      </mat-form-field>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="end center"
      fxFlexOffset="10rem"
    >
      <button
        mat-flat-button
        color="primary"
        (click)="sendMoney($event)"
      >
        Send
        <mat-icon>attach_money</mat-icon>
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </form>
</div>